.youFail {
    background-image: url("../../assets/EndFail.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: auto;
    width: 1100px;
    height: 650px;
    top: 100px;
  }

.deadText {
    color: red;
    margin-bottom: 0px;
}
