// .timerContainer {
//   background-color: rgb(44, 43, 43);
//   opacity: 0.8;
//   height: 80px;
//   width: 200px;
//   left: 500px;
//   border-style: double;
//   border-color: black;
// }
#timer {
  color: white;
  font-size: 40px;
  text-align: center;
  line-height: 0px;
  vertical-align: middle;
}

#invisible {
  display: none;
}
