@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

.lobbyScreen{
  background-image: url('../../assets/home-screen.png');
  background-position: center;
  background-size: cover;
  position: relative;
  margin: auto;
  width: 1100px;
  height: 650px;
  top: 100px;
}

.title{
  color: orange;
  font-family: 'Henny Penny', cursive;
  position: absolute;
  font-size: 50px;
  left: 25%;
  top: 20%;
  animation: flicker 5s 0s infinite;
}

$burntOrange: rgba(#fa6701,0.6);
$shadow: rgb(252, 178, 110);

@keyframes flicker {
	0%, 6%, 12% {
		text-shadow: none;
		color: black;
	}
	3%, 9% {
		text-shadow: 0 0 8px $burntOrange;
		color: orange;
	}
	60% {
		text-shadow: 0 0 8px $burntOrange,
		 0 0 16px $burntOrange,
		 0 0 20px $shadow;
		color: orange;
	}
	100% {
		text-shadow: 0 0 8px $burntOrange,
		 0 0 16px $burntOrange,
		 0 0 20px $shadow;
		color: orange;
	}
}

@mixin optionButtons{
  color: white;
  font-family:Georgia, 'Times New Roman', Times, serif;
  position: absolute;
  font-size: 20px;
  left: 48%;
  top: 55%;
}

.playButton{
  @include optionButtons();
}

.tutorialButton{
  @include optionButtons();
  top: 65%;
  left: 45%;
}
