@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');


.vic-title {
  color: orange;
  font-family: 'Henny Penny', cursive;
}

.victory {
  background-image: url('../assets/trickortreaters.png');
  background-color: black;
  background-position: center;
  background-size: cover;
  position: relative;
  margin: auto;
  width: 1100px;
  height: 650px;
  top: 100px;
}

.hidden {
  display: none;
}
