.cauldron {
  $size: 400px;
  width: $size;
  height: $size;
  position: absolute;
  left: 800px;
  top: 550px;
}

.witch {
  $size: 400px;
  width: $size;
  height: 650px;
  position: absolute;
  left: 200px;
  top: 300px;
}

.woodenSpoon {
  $size: 300px;
  width: $size;
  height: $size;
  position: absolute;
  left: 770px;
  bottom: 220px;
}

.grandFatherClock {
  width: 750px;
  height: 700px;
  position: absolute;
  right: 1px;
  bottom: 150px;
}
