// body {
//   background: black;
// }

.container {
  background-image: url("../Background.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  margin: auto;
  width: 1100px;
  height: 650px;
  top: 100px;
}

.door {
  position: absolute;
  max-width: 75%;
  max-height: 60%;
  left: 40%;
  top: 10%;
}

.door:hover {
  position: absolute;
  max-width: 77%;
  max-height: 62%;
  left: 40%;
  top: 10%;
}

.Window {
  position: absolute;
  max-width: 50%;
  max-height: 35%;
  left: 15%;
  top: 18%;
}

.Window:hover {
  position: absolute;
  max-width: 52%;
  max-height: 37%;
  left: 15%;
  top: 18%;
}

.moonPainting {
  position: absolute;
  max-width: 27%;
  max-height: 27%;
  left: 70%;
  top: 18%;
}

.moonPainting:hover {
  position: absolute;
  max-width: 29%;
  max-height: 29%;
  left: 70%;
  top: 18%;
}

.boneDog {
  position: absolute;
  max-width: 20%;
  max-height: 30%;
  left: 15%;
  top: 60%;
}

.boneDog:hover {
  position: absolute;
  max-width: 20%;
  max-height: 30%;
  left: 15%;
  top: 55%;
}

.cassette {
  position: absolute;
  max-width: 8%;
  max-height: 8%;
  left: 42%;
  top: 70%;
}

.mat {
  position: absolute;
  max-width: 30%;
  max-height: 35%;
  left: 37%;
  top: 60%;
}

.mat:hover {
  position: absolute;
  max-width: 32%;
  max-height: 37%;
  left: 37%;
  top: 60%;
}

.matClick {
  background-color: red;
  opacity: 40%;
  position: absolute;
  width: 21%;
  height: 13%;
  left: 41%;
  top: 70%;
}

.closedRaven {
  position: absolute;
  max-width: 10%;
  max-height: 10%;
  left: 17%;
  top: 11%;
}

.closedRaven:hover {
  position: absolute;
  max-width: 10%;
  max-height: 10%;
  left: 17%;
  top: 6%;
}

.narrationBox{
  position: absolute;
  height: 65px;
  width: 800px;
  left: 15%;
  top: 88%;
  background-color: rgb(41, 41, 41);
  opacity: 0.8;
  border-style: double;
  border-color: black;
}
