body {
  background: black;
}

.mainDoor {
  position: absolute;
  top: 100px;
  left: 500px;
  width: 200px;
  height: 300px;
}

.window1{
  position: absolute;
  top: 150px;
  left: 300px;
  width: 110px;
  height: 180px;
}

.window2{
  position: absolute;
  top: 150px;
  width: 110px;
  height: 180px;
  left: 800px;
}

.dog{
  position: absolute;
  height: 150px;
  width: 150px;
  left: 280px;
  top: 350px;
}

.cassette{
  position: absolute;
  height: 50px;
  width: 50px;
  left: 490px;
  top: 400px;
}

.mat{
  position: absolute;
  height: 200px;
  width: 300px;
  left: 455px;
  top: 320px;
}

.matClick{
  position: absolute;
  height: 75px;
  width: 190px;
  left: 510px;
  top: 390px;
}

.backgroundImage {
  position: absolute;
  left: 150px;
  top: 50px;
  width: 900px;
  height: 500px;
}
