.sceneOne {
    background-image: url('../Background.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    margin: auto;
    width: 1100px;
    height: 650px;
    top: 100px;
}

#leftArrow {
    width: 8%;
    height: 10%;
    position: absolute;
    top: 50%;
    left: 0%;
}
#leftArrow:hover {
    width: 10%;
    height: 12%;
    position: absolute;
    top: 50%;
    left: 0%;
}

#rightArrow {
    width: 8%;
    height: 10%;
    position: absolute;
    top: 50%;
    right: 0%;
}
#rightArrow:hover {
    width: 10%;
    height: 12%;
    position: absolute;
    top: 50%;
    right: 0%;
}

#boatPainting {
    max-width: 25%;
    max-height: 25%;
    position: absolute;
    top: 10%;
    left: 40%;
}
#boatPainting:hover {
    max-width: 25%;
    max-height: 25%;
    position: absolute;
    top: 5%;
    left: 40%;
}

#bookCase {
    max-width: 70%;
    max-height: 70%;
    position: absolute;
    top:5%;
    left: 5%;
}
#bookCase:hover {
    max-width: 75%;
    max-height: 75%;
    position: absolute;
    top:0%;
    left: 5%;
}

#lockedDiary {
  max-width: 25%;
  max-height: 25%;
  position: absolute;
  top: 25%;
  left: 5%;
  transform: rotate(-25deg);
}
#lockedDiary:hover {
    max-width: 25%;
    max-height: 25%;
    position: absolute;
    top: 25%;
    left: 5%;
    transform: rotate(-15deg);
}

#endTable {
  max-width: 40%;
  max-height: 40%;
  position: absolute;
  top: 40%;
  left: 40%;
}
#endTable:hover {
    max-width: 40%;
    max-height: 40%;
    position: absolute;
    top: 35%;
    left: 40%;
}

#full-bookshelf {
  max-width: 50%;
  max-height: 50%;
  position: absolute;
  top: 20%;
  right: 2%;
}
#full-bookshelf:hover {
    max-width: 55%;
    max-height: 55%;
    position: absolute;
    top: 20%;
    right: 2%;
}

#crystal-skull {
  max-width: 10%;
  max-height: 10%;
  position: absolute;
  top: 35%;
  left: 58%;
}
#crystal-skull:hover {
    max-width: 15%;
    max-height: 15%;
    position: absolute;
    top: 35%;
    left: 58%;
}

#cassettePlayer {
  max-width: 7%;
  max-height: 7%;
  position: absolute;
  top: 40%;
  right: 8%;
  transform: rotate(35deg);
}
#cassettePlayer:hover {
    max-width: 7%;
    max-height: 7%;
    position: absolute;
    top: 40%;
    right: 8%;
    transform: rotate(25deg);
}

#ravenClosed {
    position: absolute;
    right: 5%;
    top: 10%;
    max-width: 15%;
    max-height: 15%;
}
#ravenClosed:hover {
    position: absolute;
    right: 10%;
    top: 10%;
    max-width: 15%;
    max-height: 15%;
}

.painting-text {
    display: none;
  }
  
  .painting-text-active {
    word-wrap: break-word;
    color: azure;
  }
