.sceneThreeBG {
  background-image: url("../../assets/Background.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  margin: auto;
  width: 1100px;
  height: 650px;
  top: 100px;
}

.witch {
  $size: 250px;
  width: $size;
  height: 425px;
  position: absolute;
  left: 100px;
  top: 100px;
}

.witch:hover {
  $size: 280px;
  width: $size;
  height: 450px;
  position: absolute;
  left: 100px;
  top: 100px;
}

.cauldron {
  $size: 200px;
  width: $size;
  height: $size;
  position: absolute;
  left: 400px;
  top: 350px;
}

.cauldron:hover {
  $size: 220px;
  width: $size;
  height: $size;
  position: absolute;
  left: 400px;
  top: 350px;
}

.woodenSpoon {
  $size: 120px;
  width: $size;
  height: $size;
  position: absolute;
  left: 400px;
  bottom: 220px;
}

.woodenSpoon:hover {
  $size: 140px;
  width: $size;
  height: $size;
  position: absolute;
  left: 400px;
  bottom: 220px;
}
.grandFatherDiv {
  width: 200px;
  height: 400px;
}
.grandFatherClock {
  width: 125px;
  height: 400px;
  position: absolute;
  left: 810px;
  bottom: 150px;
}

.grandFatherClock:hover {
  width: 135px;
  height: 420px;
  position: absolute;
  left: 810px;
  bottom: 150px;
}

.ravion {
  width: 120px;
  height: 120px;
  position: absolute;
  left: 800px;
  bottom: 502px;
}

.ravion:hover {
  width: 140px;
  height: 140px;
  position: absolute;
  left: 800px;
  bottom: 502px;
}

#harvestPainting {
  width: 25%;
  height: 35%;
  position: absolute;
  left: 35%;
  top: 5%;
}

#harvestPainting:hover {
  width: 27%;
  height: 37%;
}

.arrowRight {
  width: 8%;
  height: 10%;
  position: absolute;
  top: 50%;
  right: 0%;
}

.arrowRight:hover {
  width: 10%;
  height: 12%;
  position: absolute;
  top: 50%;
  right: 0%;
}

.arrowLeft {
  width: 8%;
  height: 10%;
  position: absolute;
  top: 50%;
  left: 0%;
}

.arrowLeft:hover {
  width: 10%;
  height: 12%;
  position: absolute;
  top: 50%;
  left: 0%;
}

#narrationBox {
  word-wrap: break-word;
  color: aliceblue;
}

.text-vis {
  word-wrap: break-word;
  color: azure;
}

.text-hide {
  display: none;
}
